:root,
[data-theme="light"] {
  --toggle: #{$white};
  --background-color: #{$white};
  --primary-bg: #{$primary};
  --text-color: #{$gray-800};
  --text-muted: #{$gray-500};
  --link-color: #{$primary};
  --link-visited: #5b21b6;
  --icon: #{$gray-900};
  --flag: #{$black};
  --sidebar: #{$gray-50};
  --blockquote: #{$gray-300};
  --caption: #{$gray-500};
  --border: #{$gray-200};
  --logo: #2c2c2e;
  --outline: none;
  --light: flex;
  --dark: none;
  --invert: invert(0);
  --toc-header: #{$gray-100};
  --toc-header-hover: #{$gray-200};
  --dropdown: #{$gray-100};
  --dropdown-item: #{$gray-300};
  --dropdown-stroke: #{$gray-300};
  --dropdown-background: #{$gray-50};
  --text-muted: #6c757d;
  --twitter-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%232b7bb9' d='M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z'%3E%3C/path%3E%3C/svg%3E");
}

[data-theme="dark"] {
  --toggle: #{$white};
  --background-color: #{$gray-900};
  --primary-bg: #{$gray-800};
  --text-color: #{$white};
  --text-muted: #{$gray-200};
  --link-color: #{$blue};
  --link-visited: #a78bfa;
  --icon: #{$white};
  --flag: #{$white};
  --sidebar: #{$gray-900};
  --blockquote: #{$gray-100};
  --caption: #{$gray-200};
  --border: #{$white};
  --logo: #{$white};
  --outline: 1px solid hsla(0, 0%, 100%, 0.2);
  --light: none;
  --dark: flex;
  --invert: invert(1);
  --toc-header: #{$gray-700};
  --toc-header-hover: #{$gray-800};
  --text-muted: #{$gray-400};
  --dropdown: #{$gray-800};
  --dropdown-item: #{$gray-700};
  --dropdown-stroke: #{$gray-800};
  --dropdown-background: #{$gray-800};
  --twitter-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23fff' d='M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z'%3E%3C/path%3E%3C/svg%3E");
}

// Smooth Scrolling
html {
  scroll-behavior: smooth;
  height: 100%;
}

// Fader
#fader {
  background: var(--background-color);
}

// Body
body {
  position: relative;
  line-height: 1.5;
  font-family: "Source Sans Pro", sans-serif;
  overflow-y: scroll;
  color: var(--text-color);
  background-color: var(--background-color);
}

// Accessibility
.themetoggle,
.toctoggle,
.title {
  background: none;
  color: var(--icon);
  outline: none;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 0 0.5rem 0;

  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;

  & .inline-svg {
    top: 0;
    border-radius: 0.25rem;
  }

  &:focus-visible,
  &:focus {
    outline: 2px solid var(--text-color);
  }
}

.themetoggle,
.toctoggle {
  font-size: 0.875rem;
}

.title div {
  line-height: 1.25;
}

header.sticky-top {
  background-color: $purple-800;
}

// Backgrounds
.background-white {
  background-color: $white;
}

.background-black {
  background-color: $black;
}

.background-primary {
  background-color: var(--primary-bg);
}

.background-secondary {
  background-color: $secondary;
}

.background-banner {
  background-image: url(img/banner.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  letter-spacing: -0.025em;
}

// SVG
.inline-svg {
  display: inline-flex;
  justify-content: center;
  height: 1em;
  width: 1em;
  top: 0.1em;
  position: relative;
}

// Logo
.logoShape {
  fill: var(--logo);
}

// Navbar + sidebar
.navbar-toggler {
  font-size: 1.5rem;
  border: none;
  color: var(--toggle);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  overflow-x: hidden;
  overflow: auto;
  overscroll-behavior-y: contain;

  & .container {
    padding-top: 0.05rem;
  }
}

.overlay a:not(.navbar-brand, .closebtn) {
  text-decoration: none;
  font-size: 1.25rem;
  padding-block: 0.5rem;
  display: block;
  font-weight: 500;
}

.overlay li a {
  font-size: 1rem !important;
}

.overlay .closebtn {
  border: none;
  outline: none;
  background: none;
  color: var(--toggle);
  font-size: 1.5rem;
  padding: 0.25rem 0.75rem;
}

// Extra
.dim {
  opacity: 0.5;
}

.left-sidebar {
  background-color: var(--sidebar);
  //padding: 1.5rem 1.5rem 0 1.5rem;
  z-index: 100;
  height: 100%;
  position: fixed;
  outline: var(--outline);

  & .themetoggle {
    & .inline-svg {
      height: 1.5em;
      width: 1.5em;
      top: 0;
      margin-left: 0.3rem;
    }
  }
  & .title svg {
    margin-left: 0.3rem;
    fill: var(--flag) !important;
  }
}

.sun,
.open {
  display: var(--dark);
}

.moon,
.close {
  display: var(--light);
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }  
}

.nav_logo,
.nav_link {
  display: grid;
  align-items: center;
  column-gap: 1rem;
  padding: 0.3rem 0 0.3rem 1.5rem;
}

.nav_link {
  position: relative;
  color: var(--text-color);
  text-decoration: none;
  margin-bottom: 0.5rem;

  &:hover,
  &:focus-visible {
    color: $primary;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      width: 0.3rem;
      height: 32px;
      border-radius: 2px;
      background-color: $primary;
    }
  }
}

.home_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;

  &:before {
    display: none;
  }
}

.active {
  font-weight: 600;
}

.active:before {
  content: "";
  position: absolute;
  left: 0;
  width: 0.3rem;
  height: 32px;
  border-radius: 2px;
  background-color: $primary;
}

// Summary + details tag
details summary::-webkit-details-marker {
  display: none;
}

details summary {
  position: relative;
  list-style: none;
  cursor: pointer;
  margin-block: 1.25rem;
  display: flex;
  justify-content: space-between;

  & .inline-svg {
    top: 0;
  }
}

details[open] summary svg {
  transform: rotate(180deg);
}

// Report content
.report-title {
  font-size: 4rem;
  font-weight: 700;
  color: $white;
}

.report-subtitle {
  font-size: 2.25rem;
  font-weight: 500;
  color: $white;
}

.toc-header {
  padding: 1rem;
  color: var(--text-color);
  background-color: var(--toc-header);
  border-radius: 0.25rem;
  text-decoration: none;
  font-weight: 500;
  margin-bottom: 0.75rem;

  &:hover,
  &:focus-visible {
    color: inherit;
    background-color: var(--toc-header-hover);
  }
}

#TableOfContents {
  & ul {
    list-style: none;
    border-left: 2px solid var(--border);
    margin-left: 2rem;
    padding-left: 1rem;
  }
  & li {
    padding-block: 0.25rem;
    position: relative;

    & a {
      text-decoration: none;
      color: var(--icon);

      &.active:before {
        content: "";
        left: -1.2rem;
        width: 0.25rem;
        top: 0;
      }
    }
  }
}

.dropdown-menu {
  width: 100% !important;
  background-color: var(--dropdown-background);
  border: 1px solid var(--dropdown-stroke);

  & #TableOfContents {
    & ul {
      list-style: none;
      margin-inline: auto;
      border-left: none;
      padding-left: 0;
      margin-bottom: 0;
    }
    & li {
      padding: 0;
      position: relative;

      &:hover {
        background-color: var(--dropdown-item);

        & a:before {
          content: none;
        }
      }

      & a {
        padding-block: 0.85rem;
        padding-inline: 0.75rem;
        text-decoration: none;
        display: block;
      }
    }
  }

  &.show {
    transform: translate3d(0px, 58px, 0px) !important;
  }
}

.dropdown button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem;
  color: var(--text-color);
  background-color: var(--dropdown) !important;
  border: 1px solid var(--dropdown-stroke);

  &:hover,
  &:active {
    color: var(--text-color);
  }

  &::after {
    content: none;
  }

  &.show svg path {
    d: path(
      "M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"
    );
  }
}

figcaption {
  font-size: 0.75rem;
  margin-top: 1rem;
  color: var(--caption);
}

.footnotes li:target {
  padding: 0.25rem 0.5rem;
  outline: solid 2px #aaa;
}

.text-muted {
  color: var(--text-muted) !important;
}

.highlight pre {
  padding: 1rem 2rem;
}

// Posts
.post-content {
  position: relative;

  & h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2.5rem;
  }

  & a {
    color: var(--link-color);

    &:visited {
      color: var(--link-visited);
    }

    &:hover,
    &:active,
    &:focus-visible {
      text-decoration: underline;
    }
  }

  & .anchor-tag {
    margin-left: 0.5rem;
    text-decoration: none;
    color: var(--text-color);

    & .inline-svg {
      width: 0.75em;
      height: 0.75em;
      top: 0em;
    }

    &:hover,
    &:focus-visible,
    &:active {
      .inline-svg {
        color: var(--link-color);
      }
    }

    &:visited {
      color: var(--link-visited);
    }
  }

  & figure {
    text-align: center;
    padding-block: 1.5rem;

    &.wide {
      left: 50%;
      margin-left: -32.5vw;
      margin-right: -32.5vw;
      max-width: 65vw;
      position: relative;
      right: 50%;
    }
  }

  & ul li {
    list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23d41e33' d='M0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96z'%3E%3C/path%3E%3C/svg%3E");

    &::marker {
      font-size: 1.5rem;
    }
  }

  & img {
    max-width: 100%;
  }

  & figure.full img {
    width: 100%;
  }

  & figure.invert img {
    filter: var(--invert);
  }

  & figure.smaller {
    text-align: start;

    & img {
      width: 250px;
    }
  }

  & .footnotes {
    & p {
      margin-bottom: 0.5rem;
    }
  }

  & blockquote {
    padding: 0 0 0 1.5rem;
    border-left: 0.5rem solid var(--blockquote);
    font-style: italic;
    margin-block: 1.5rem;
  }

  & table {
    width: 100%;
  }

  & thead,
  tbody,
  tfoot,
  tr,
  td,
  th {
    border-width: 1px;
    border-collapse: collapse;
    padding: 0.25rem 0.5rem;
  }

  & .table {
    position: relative;
    display: block;
    overflow-x: auto;
    left: 50%;
    right: 50%;
    margin-block: 3rem;
    margin-inline: -20vw;
    min-width: 40vw;

    & th {
      color: $white;
      background-color: $primary;
    }
  }
}

// Pagination
.pagination {
  display: block;

  & a {
    color: var(--text-muted);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  & .inline-svg {
    top: 0;
  }
}

// Twitter
.twitter-tweet {
  font-family: "Source Sans Pro" !important;
  color: var(--text-color) !important;
  border-left: 0.5rem solid #2b7bb9 !important;
  position: relative;

  & a {
    color: var(--link-color) !important;

    &:visited {
      color: #a78bfa;
    }
  }

  &:after {
    content: var(--twitter-icon);
    width: 3.5rem;
    height: 3.5rem;
    opacity: 0.2;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

// Accessibility
.screen-reader-text {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  border-radius: 0.25rem;
  box-shadow: 0 0 0.125rem 0.125rem rgba(0, 0, 0, 0.6);
  clip-path: none;
  color: var(--text-color);
  background-color: var(--background-color);
  display: block;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  width: auto;
  top: 0.25rem;
  left: 0.25rem;
  line-height: normal;
  padding: 1rem;
  text-decoration: none;
  z-index: 25;
}

@media screen and (max-width: 992px) {
  .left-sidebar {
    position: relative;
    background-color: #441565;
  }
  .post-content .table {
    overflow-x: auto;
    left: 0;
    right: 0;
    margin-inline: 0;
    max-width: 100vw;
  }
  .twitter-tweet {
    &:after {
      width: 2.5rem;
      height: 2.5rem;
      opacity: 0.15;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}
