{{ define "main" }}
<main class="container-fluid">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-7 col-md-12 col-12 py-5">
                <article class="post-content pt-4">
                    {{ .Content }}
                </article>
            </div>
        </div>
    </div>
</main>
{{ end }}